@media (min-width: 768px) {
  .col-md-6 {
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
  }
}

body {
  overflow-x: hidden;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid #fff;
  margin: 2em 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

#ten-things {
  background-color: #f17427;
  padding-top: 150px;
  padding-bottom: 0;
}

#first-time {
  background-color: #4184b1;
  padding-top: 150px;
  padding-bottom: 0;
}

.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.h1,
h1 {
  font-size: 5rem;
}

.h2,
h2 {
  font-size: 2.5rem;
}

.h4,
h4 {
  font-size: 1.3rem;
}

.center-text {
  text-align: center;
}

.bg-brown {
  background-color: #241503;
}

.text-white a {
  color: white;
  text-decoration: underline;
}

.text-white a:hover {
  text-decoration: none;
  opacity: 0.5;
}

.col-md-6 {
  margin: 1%;
}

.no_padding,
.col-md-6,
.col-md-6 img {
  padding: 0;
}

.col-md-6 h4,
.col-md-6 p {
  padding-left: 30px;
  padding-right: 30px;
}

.top10_info_detail {
  padding-bottom: 30px;
  padding-top: 30px;
}

.col-md-6 h4 {
  padding-top: 30px;
  padding-bottom: 15px;
}

.hero_img_1 {
  background: linear-gradient(rgba(36, 21, 3, 0.5), rgba(36, 21, 3, 0.5)), url(../images/hero1.jpg);
  background-size: cover;
}

.hero_img_2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero2.jpg);
  background-size: cover;
}

.hero_img_3 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/hero3.jpg);
  background-size: cover;
}

.hero_img_4 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero4.jpg);
  background-size: cover;
}

#first-time p,
#ten-things p,
#contact p,
#about p {
  font-size: 1.25rem;
}
